{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h3>Edit {{category.name}}</h3>
</br>
<div class="row">
  <div class="col-md-6 col-md-offset-1 padding-top">
    <form action="{{ url_for('editCategory',category_id = category.id)}}" method = "post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type ="text" name="name" value="{{category.name }}">
        <div class="padding-bottom"></div>
        <button type="submit" id="submit">Save</button>
        <a href = '{{url_for('showCategories')}}'>Cancel</button></a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
