{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

</br>
<div class="row center-block">
  category name: {{ category.name }}
  </br>
  creator name: {{ creator.name }}
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</br>
<div class="row center-block">
  <a href="{{url_for('editCategory', category_id = category.id )}}">
    Edit Category
  </a>
  </br>
  <a href="{{url_for('deleteCategory', category_id = category.id )}}">
    Delete Category
  </a>
  </br>
  <a href="{{url_for('newItem', category_id = category.id )}}">
    Add Item
  </a>
</div>
</br>
{% if items !=[] %}
  {% for i in items %}
    <p><h4>{{i.name}}</h4>
      {{i.description}}</p>
    <a href='{{url_for('editItem', category_id=category.id, item_id=i.id ) }}'>Edit</a> |
    <a href='{{url_for('deleteItem', category_id=category.id, item_id=i.id ) }}'>Delete</a>
  {% endfor %}
{% endif %}
{% endblock %}
