{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h3>New Category</h3>
</br>
<div class="row">
  <div class="col-md-6 col-md-offset-1 padding-top">
    <form action="{{url_for('newCategory')}}" method="post">
      <label for="name">Name:</label>
      <input type ="text" class="form-control" maxlength="100" name="name">
      </br>
      <button type="submit" id="submit">Create</button>
      <a href = '{{url_for('showCategories')}}'> Cancel</button></a>
    </form>
  </div>
</div>
{% endblock %}
