{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

</br>
<div class="row center-block">
  category name: {{ category.name }}
  </br>
  creator name: {{ creator.name }}
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if items !=[] %}
  {% for i in items %}
    <p><h4>{{i.name}}</h4>
      {{i.description}}</p>
  {% endfor %}
{% endif %}
{% endblock %}
