{% extends "base.html" %}

{% block content %}
    <a class="login-link" href="/blog/newpost">create new post</a>
    <br><br>
    {% for p in posts %}
      {% include "post.html" | safe %}
      <br>
      <a class="login-link" href="/blog/{{p.key().id()}}">Link</a>
      <br>
      {% if p.author.name == user.name %}
      <!-- If author of ths post is same with the user logged in,
        he can see Edit and Delete link. -->
        <a class="login-link" href="/edit/{{p.key().id()}}">Edit</a>
        <form method="post" action="/delete">
          <input type="hidden" name="post_id" value="{{p.key().id()}}">
          <input type="submit" class="submit-button" value="Delete">
        </form>
      {% else %}
      <!-- If not, he can only see Like link. -->
        <form method="post" action="/like">
          <input type="hidden" name="post_id" value="{{p.key().id()}}">
          <input type="submit" class="submit-button" value="Like">
        </form>
      {% endif %}
      <form method="post" action="/comment">
        <input type="hidden" name="post_id" value="{{p.key().id()}}">
        <input type="text" name="comment_content">
        <input type="submit" class="submit-button" value="Comment">
      </form>
      {% for c in comment %}
        {% include "comment.html" | safe %}
      {% endfor %}
      <br><br>
    {% endfor %}
{% endblock %}
