{% extends "base.html" %}

{% block content %}
  <h2>new post / edit post</h2>

    <form method="post">
      {% if edit %}
        <input type="hidden" name="post_id" value="{{p.key().id()}}">
      {% endif %}
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" class="submit-button">
      <a class="login-link" href="/blog">Cancel</a>
    </form>
{% endblock %}
